:root{
    --primary-color: rgb(100, 131, 129);
    --secondary-color: rgb(228, 253, 225);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid red; */
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8em;
    background-color: #b0f8bf4e;
}

body {
    margin: 0;
    top: 0;
    /* background-image: url('./../images/image (3).svg') ; */
    background-repeat: no-repeat;
    /* overflow: visible; */
    /* background-size: 100vw; */
    /* background-size: 200vh; */
}
/* -------------------------Navigation Bar --------------------------*/
.navigation{
    height: 70px;
    /* background-color: rgb(129, 223, 211); */
    overflow: hidden;
    /* box-shadow: 10px 10px 10px solid white; */
  }
nav {
    display: flex;
    /* position: fixed; */
    justify-content: space-around;
    align-items: center;
    /* left: 0; */
    top: 0;
    width: 100%;
    /* height: auto; */
    z-index: 1;
    /* size: fixed; */
    height: 70px;
    background-color: rgb(99,179,152);
    box-shadow: 4px 4px 4px 4px rgba(150, 150, 150, 0.617);
    /* border: #000 solid 3px; */
    /* border-radius: 20px; */
    /* margin-left: 6.5%; */
    /* margin-top: 10px; */
}
nav .logo{
    max-height: 8rem;
    /* margin-left: 1%; */
    float: left;
    margin-top: 2%;
    margin-bottom: 30px;
}
nav img {
    display: inline-block;
    max-height: 8rem;
    width: auto;
    /* margin: -1.25rem; */
  }
  
  nav ul {
    display: flex;
    float: right;
    margin: 10px;
    list-style: none;
  }
  nav ul li a {
    /* height: 35px; */
    line-height: 2.5rem;
    margin: 0.6rem;
    /* margin-bottom: 1rem; */
    padding: 0 1.8rem;
    display: flex;
    /* font-size: 1.5rem; */
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1rem;
    border-radius: 0.5rem;
    transition: 0.5s;
    color: black;
  }
  nav ul li a i{
    margin: 0.8rem;
  }
  
  #navib {
    width: 100%;
    /* position: sticky; */
    top: 0;
    z-index: 1;
  }
  
  .homepage {
    background-color: #b0f8bf4e;
  }
  
  .user-pic {
    width: 48px;
    height: 50px;
    border-radius: 40%;
    cursor: pointer;    
    margin-left: 30px;
    margin-top: 5px;
    /* width: 60px;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: -10px; */
  }
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info h3 {
    font-weight: 500;
  }
  .options i {
    display: inline;
    float: right;
    /* margin-right: 600px;  */
  }
  
  .options li a:hover {
    background-color: rgb(129, 223, 211);
    color: white;
    box-shadow: 0.3125rem 0.625rem 1.875rem rgba(144, 239, 180, 0.397);
  }
  
  .active {
    background-color: rgb(129, 223, 211);
    color: white;
    box-shadow: 0.3125rem 0.625rem 1.875rem rgba(144, 239, 180, 0.397);
  }

/*---------------------------------- Profile info -------------------- */
#profile{
    display: grid;
    /* display: none; */
    grid: 
    'wc wc wc'
    ' img name edit'
    ' img email temp'
    ' img about temp'
    'project project project';
    margin: 30px 100px 0 100px;
    grid-gap: 20px 50px;
    top: 0;
    align-items: center;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    /* color: white; */
    /* margin-bottom: 30px; */
    border-radius: 20px;
    background-color: rgb(129, 223, 211);
}
#profile a{
    text-decoration: none;
    display: inline-block;
    /* color: white; */
}
#profile a:hover{
    color: turquoise;
}

#profile #wc{
    grid-area: wc;
    margin: 10px;
}
#profile #profile-img{
    height: 220px;
    grid-area: img;
    border-radius: 10%;
    margin-left: 20px;
    border: 5px solid rgb(129, 223, 211);
}
#profile .temp{
    grid-area: temp;
}
#profile button {
    margin-right: 30%;
}
#profile .edit-btn{
    grid-area: edit;
    height: 60px;
    /* background: -webkit-linear-gradient(left , #00fbff, #c99090);    */
    background : url('./../images/pencil.png') no-repeat;
    border-radius: 10px ;
}

.btn {
    /* background-color: DodgerBlue;  */
    border: none; /* Remove borders */
    color: white; /* White text */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    background-color: rgb(129, 223, 211);
  }

  
.p1 {
  /* color: #000; */
}


#profile #name{
    grid-area: name;
}
#profile #about{
    grid-area: about;
}
#profile #mail{
    grid-area: email;
}

/* Form  */
#form{
    display: none;
    /* display: grid; */
    grid: 
    'wc wc wc'
    'wc wc wc'
    ' img name edit'
    ' img email temp'
    ' img about temp'
    'project project project';
    margin: 0 100px 0 100px;
    grid-gap: 20px 50px;
    top: 0;
    align-items: center;
    color: white;
    margin-bottom: 30px;
}
#form #fprofile{
    /* grid-area: img; */
    height: 200px;
    grid-area: img;
    border-radius: 50%;
}
#form #wc{
    grid-area: wc;
    margin: 10px;
}
#form #name{
    grid-area: name;
}
#form #about{
    grid-area: about;
}
#form #mail{
    grid-area: email;
}#form #temp{
    grid-area: temp;
    margin: 50px;
    display: none;
}
#form #edit{
    grid-area: edit;
    /* background: -webkit-linear-gradient(left , #00fbff, #c99090);    */
    border-radius: 10px ;
    padding: 0.5rem;
    width: 90px;
}


.input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .input {
    background-color: #00cea1;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    /* background-color: #ffffff; */
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #ffffff;
  }
  
  .input:focus ~ .placeholder {
    color: #4531ff;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 0.4rem;
  }


  /* Projects */


.projects{
    /* margin: 80vh; */
    flex-direction: column;
}
.projects .flex-area{
  display: flex;
  margin-left: 10%;
}

.projects h2{
    grid-area: project;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    /* overflow: hidden; */
    margin: 40px;
    height: 40;
    /* background: -webkit-linear-gradient( left top, rgb(238, 255, 0), rgb(255, 255, 255)); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.pr {
    display: inline-flex;
    flex-wrap: wrap;
    /* float: right; */
    /* margin-left: 10%; */
    /* padding: 2rem; */
    
}
.add-project{
    border: dashed;
    height: 18rem;
    width: 18rem;
    margin: 10px;
    padding-top: 4%;
    padding-left: 4.7%;
    size: fixed;
    border-radius: 5%;
    margin-top: 4%;
}
.add-project h4{
    position: center;
    font-size: large;
    margin-left: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 18rem;
    margin: 1.9rem;
    align-items: center;
    background-image: linear-gradient(to right,rgb(231, 217, 217), rgb(206, 234, 235)); 
    border-radius: 10% 10%;
    box-shadow: 10px 10px 10px  #c3c3cc;
    color: teal;
    transition: 0.8s all ease-in-out;
}
.pr img{
    height: 300px;
    width: 100%;
    box-align: top;
    border-radius: 10% 10%;
    /* margin: 20px; */
    /* transition: 0.8s all ease-in-out; */
}

/*  */

.pr .text{ 
    margin: 1.3rem 2rem;
}
.box:hover{
    box-shadow: 15px  15px 15px  #c3c3cc;
    transform: scale(1.1);
    
}

.pd-1 { padding: 10px;}
.pd-2 { padding: 20px;}
.pd-3 { padding: 1.6rem;}
.pdh-1 {padding-left: 10px; padding-right: 1px;}