*,body{

  margin: 0;
  padding: 0;

}

body{
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
header{
  width: 100%;
  height: 70px;
  background-color: rgb(99,179,152);
}
ul{
  width: auto;
  float: right;
  margin-top: 8px;
}
li{
  display: inline-block;
  padding: 15px 30px;
}
a{
  text-align: centr;
  color: #ffffff;
  text-decoration: none;
}
a:hover{
  color: #F0c330;
  transition: 0.5s;
}
nav img{
  display: inline-block;
  max-height:7.5rem;
  width:auto;
  margin: -1.25rem;
}

.main{

  width: 90%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* perspective: 10px; */
  margin-left: 50px ;
  margin-top: 100px;
  
}

.main .container{

  width: 60%;
  height: 75%;
  background-color: white;
  transition: 0.8s;
  box-shadow: 0 0 13px 0 #00000040;

}

.main .container .header-bar{

  width: 100%;
  height: 1%;
  background-color: rgb(99,179,152);

}

.main .container .progress-form{

  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 5%;


}

.main .container .progress-form .numbers{

  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;


}

.main .container .progress-form .numbers .setp-number{

  background-color: transparent;
  width: 3.8%;
  height: 80%;
  border-radius: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3vw;

}

.main .container .progress-form .numbers #step_one{

  background-color: rgb(99,179,152);
  color: white;
}

.main .container .progress-form .progress-bar{

  width: 0%;
  height: 20%;
  background-color: rgb(99,179,152);
  border-radius: 3vw;
  transition: 0.6s;
  margin-left: 13%;

}
.main .container form{

  width: 83%;
  height: 60%;
  margin-left: 8%;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;

}
.main .container form .step-one label{
  height: 50px;
}
.container form .upload-box{
  font-size:15px;
  background: white;
  border-radius: 20px;
  box-shadow: 2px 2px 5px black;
  width: 350px;
  outline: none ;
  margin-top: 20px;
  margin-bottom: 20px;
}
::-webkit-file-upload-button{
  color: white;
  background: rgb(99,179,152);
  padding: 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 0 1px 1px rgb(99,179,152);
  outline: none;
}
::-webkit-file-upload-button:hover{
  background-color: rgb(99,179,152);
}

.main .container form .step-one{

  width: 100%;

}

.main .container form .step-three .flex-input{

  width: 100%;
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.main .container form .step-three .flex-input #weblink{

  width: 49%;
  height: 15%;
  border-radius: .2vw;
  border: .1vw solid gray;
  padding: 2%;
  outline: none;
  margin: 0%;
  font-size: 1.2vw;

}
#done{
  width: 30%;
  height: 100%;
  font-size: 1.3vw;
  background-color: rgb(99,179,152);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: .2vw;
}
.main .container form .step-three .buttons #done{
  width: 30%;
  height: 100%;
  font-size: 1.3vw;
  background-color: rgb(99,179,152);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: .2vw;
}

.main .container form .step-one #title, #obj{

  width: 100%;
  height: 13%;
  border-radius: .2vw;
  border: .1vw solid gray;
  padding: 2%;
  outline: none;
  margin-top: 3%;
  font-size: 1.2vw;

}


.main .container form .step-two{

  width: 100%;
  display: none;
}

.main .container form .step-two input{

  width: 100%;
  height: 13%;
  border-radius: .2vw;
  border: .1vw solid gray;
  padding: 2%;
  outline: none;
  margin-bottom: 3%;
  font-size: 1.2vw;

}


.main .container form .step-three{

  width: 100%;
  display: none;

}

/* .main .container .form .step-three input{

  width: 49%;
  height: 100%;
  border-radius: .2vw;
  border: .1vw solid gray;
  padding: 2%;
  outline: none;
  font-size: 1.2vw;


} */

.main .container form .step-three #repolink{

  width: 100%;
  height: 13%;
  border-radius: .2vw;
  border: .1vw solid gray;
  padding: 2%;
  outline: none;
  margin-bottom: 3%;
  font-size: 1.2vw;

}

/* .main .container .form .step-four{

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;

}

.main .container .form .step-four .section-one,
.main .container .form .step-four .section-two 
{

  width: 50%;
  height: 70%;

}

.main .container .form .step-four .hr{

  border-left: .2vw solid black;
  height: 80%;

}

.main .container .form .step-four .inform-section{

  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15%;
  

}

.main .container .form .step-four .inform-section .title{
  font-size: 1.4vw;
  font-weight: bold;
  color: #373738;
}

.main .container .form .step-four .inform-section .result-info{

  margin-left: 5%;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

} */

.main .container .buttons{

  height: 9%;
  width: 91%;
  margin-left: 4.2%;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: right;

}

.main .container .buttons button{

  width: 30%;
  height: 100%;
  font-size: 1.3vw;
  background-color: rgb(99,179,152);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: .2vw;

}

.main .container .buttons #prev{
  display: none;
}







































/* .card {
    background-color: white;
    border: 1px solid #333;
    border-radius: .5rem;
    padding: .5rem;
    max-width: 300px;
    margin: 0 auto;
    animation: fade 250ms ease-in-out forwards;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    gap: .25em;
  }
  
  .form-group:last-child {
    margin: 0;
  }
  
  .form-group > label {
    font-weight: bold;
    font-size: .8em;
    color: #333;
  }
  
  .form-group > input {
    border: 1px solid #333;
    border-radius: .25em;
    font-size: 1rem;
    padding: .25em;
  }
  
  .step-title {
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .card.active {
    animation: slide 250ms 125ms ease-in-out both;
  }
  
  .multi-step-form {
    overflow: hidden;
    position: relative;
  }
  
  .hide {
    display: none;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(200%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(.75);
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
  #progressbar li{
        list-style-type: none;
        text-transform: uppercase;
        width: 33.33%;
        float: left;
        position: relative;
        content: counter(step);
        counter-increment: step;
        width: 100px;
        line-height: 20px;
        display: block;
        font-size: 10px;
        color: #fff;
        background: #679b9b;
        border-radius: 3px;
        margin: 0 auto 5px auto;
    }
  #progressbar li ::after{
        content: "";
        width: 100%;
        height: 2px;
        background: #679b9b;
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1;
    }
    #progressbar li .first-child:after{
        content: none;
    } */