@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid red; */
} 
body{
	min-height: 100vh;
	/* display: grid; */
	background-color: rgba(221, 250, 245, 0.63);
	/* place-items: center; */
    
}
.menu{
	height: 5vh;
	width: 100vw;
	margin: 0;
	background-color: bisque;
	/* place-items: center; */
	position: relative;
}
nav{
    background: #fff;
    /* border-radius: 50px; */
	/* background-color: bisque; */
    /* padding: 4px; */
}
.navItem{
	color: black;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 3vh 3vw;
    margin: 0.1vw;
    font-size: 1.2vw;
    font-weight: 500;
	font-family: "Poppins",sans-serif;
    color: #777;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5s;
}
nav ul li::after{
    content: "";
    background-color: rgb(12, 170, 118);
    width: 70%;
    height: 60%;
    border-radius: 30px;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}
nav ul li:hover{
    color: #fff;
}

nav ul li:hover::after{
    top: 50%;
    opacity: 1;
}
.header{
    /* background-color: rgba(67, 80, 77, 0.089); */
    background-color: rgb(99, 179, 152);
    margin-top: 5vh;
    height: 70vh;
    border-radius: 8px;
    margin: 5px;
    /* box-shadow: 5px 12px 14px rgba(0, 0, 0, 0.3); */
}
.header .author{
    background-color: #e91e63;
    /* border-radius: 10px; */
    height: 80px;
    width: 80px;
    /* align-content: center; */
}
.header .author-flex{
    display: flex;
    justify-content: space-between;
}
.header .author h5{
    margin-left: 10px;
}
.projectName{
    /* margin-top: 50px; */
    display: inline-block;
    width: 600px;
    padding: 40px 40px 70px 70px;
    /* box-sizing: border-box; */
}
.lotty{
    margin-bottom: 30px;
    /* right: 100px; */
    float: right;
    margin-right: 300px;
    width: 200px;
    margin-top: 50px;
    display: inline-block;
}
.header .container{
    width: 30vw;
    height: 40vh;
    /* position: absolute; */
    display: inline-block;
    /* display: inline-block; */
    /* transform: translate(-50%,-50%); */
    background-color: rgba(67, 80, 77, 0.089);
    /* border: 5px solid grey; */
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 150px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.emptywalabox{
    width: 100px;
    height: 300px;
}

.mySlides {display:none;}
.img-container{
    width: 30%;
    display: inline-block;
    margin: 50px;
    display: flex;
    float: right;
    flex-direction: row;
    /* animation: slide 5s infinite; */

}
img{
    width: 100%;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    /* 50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    } */
}
.wrapper{
    display: inline-flex;
}
.wrapper .icon{
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.wrapper .icon span{
    height: 60px;
    width: 100px;
    position: relative;
    display: block;
    background-color: rgb(12, 170, 118);
    text-align: center;
    border-radius: 20px;
    /* paddin; */
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.wrapper .icon span i{
    font: 25px;
    line-height: 60px;
}
.wrapper .icon .tooltip{
    position: absolute;
    top: 0px;
    background-color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .icon:hover .tooltip{
    opacity: 1;
    top: -70px;
    pointer-events: auto;
    background-color: whitesmoke;
}
.wrapper .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
.nutshell{
    background-color:  rgba(62, 168, 148, 0.63);
    width: 50%;
    height: 250px;
    /* margin-left: 250px; */
    border: 4px solid #cfefca;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
    color: black;
    overflow:auto;
}
.github{
    width: 300px;
    height: 300px;
    border-style: double;
    border: 6px double rgba(19, 80, 69, 0.63);
    border-radius: 50%;
}
.technologyUsed{
    background-color:rgba(62, 168, 148, 0.63);
    display: inline;
    /* align-items: center; */
    align-self: center;
    width: 560px;
    border-radius: 15px;
    padding-left: 20px;
    height: 200px;
    padding-top: 80px;
    /* margin-left: 460px; */
}
.resources{
    display: flex;  
    padding: 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1vw;
}
.resources iframe{
    margin: 10px;
    width: 400px;
    height: 35vh;
    align-items: center;
    border: 10px double rgba(3, 71, 60, 0.63);
    border-radius: 25px;
}
.slide-container{
    /* max-width: 900px; */
    width: 50%;
    /* background-color:rgba(67, 80, 77, 0.089); */
    /* padding: 40px; */
    margin-top: 30px;
}
.slide-content{
    margin: 0 40px;
    width: 30%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.card{
   margin-right: 20px;
   width:320px ;
   border-radius: 25px;
   background-color: #FFF;
}
.image-content,
.card-content{
    display: flex;
    flex-direction:column ;
    align-items: center;
    padding: 10px 14px ;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:  rgb(12, 170, 118);
    border-radius: 25px 25px 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #FFF;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color:black ;
    padding: 3px;
}
.card-image .card-img{
     height: 100%;
     width: 100%;
     object-fit: cover;
     border-radius: 50%;
     border: 4px solid #cfefca;
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;   
}
.technology{
    font-size: 18px;
    font-weight: 500;
    color: #333;   
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
/* .button{
    border: none;
    font-size: 14px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #39FF14;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3 ease;
} */
.Social-icons .fa{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    line-height: 100px;
    font-size: 100px;
    color: #000;
    background-color:#FFF;
    margin-right: 100px;
    cursor: pointer;
    transition: all 0.3 ease;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #000;
    margin: 20px auto;
}
.card:hover{
    transform: scale(1.1,);
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
/* .footer{
	background-color: rgb(12, 170, 118);
    padding: 10px 10px;
    width: 100%;
} */
.footer .container{
    width: 100%;
    background-color: rgb(12, 170, 118);
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	color: black;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: black;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* /responsive/ */
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.headlines{
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    /* width: 30%; */
    align-self: center;
    align-items: center;
    font-size: 1rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.hid {
    display: hidden;
}

.i-block {
    display: inline-block;
}
.swiper-slide{
    transition: 0.5s ease-out;
}
.swiper-slide:hover{
    transform: scale(1.06);
}
.content-container{
    /* display: grid;
    grid: 
    "top1 top1 top1",
    "slid slid slid",
    "nutshell nutshell github",
    "nutshell nutshell github",
    "techs techs techs",
    "temp contri contri" ; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    align-self: center;
    /* width: 10%; */
}

.btn{
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.pd-1{
    padding: 10px;
    align-self: center;
    align-items: center;
}
.pd-2{
    padding: 20px;
}
.pd-3{
    padding: 30px;
}
.pdt {
    width: 100%;
    margin-right: 50px;

}

.ctr{ grid-area: contri;}
.stack { grid-area: techs;}
.nutshell { 
    grid-area: nutshell;
    width: 80%;
}
.gith { grid-area: github;}
.temp { grid-area: temp;}
.top { grid-area: top1;}
.slid {
    height: 35rem;
    overflow: hidden;
    grid-area: slid;
    /* margin-left: 100%; */
    align-items: center;
}

.align-c {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-top: ; */
}
.align-c1 {
    display: flex;
    flex-direction: column;
}
.m-5 {
    margin-top: 50px;
}
.m-b{
    /* margin-bottom: 50px; */
    /* padding: 0  ; */
    padding: 10px 100px 10px 100px;
    /* border:  solid 2px; */
}
.m-cent {
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    /* margin-top: px; */
}
.c-box {
    background-color:  rgba(62, 168, 148, 0.63);
    /* width: 100px; */
    border-radius: 20px;

}

.border {
    /* border-color: #000; */
    border: #000 2px solid ;
}