<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/auth-style.css">
    <link rel="stylesheet" href="../../public/css/auth-style.css">
    <script src="https://kit.fontawesome.com/49ae0caa8c.js" crossorigin="anonymous"></script>
</head>



<body>
    <nav>
    <h1><a href="/">DevSpace</a></h1>
    <ul>
        <li><a href="/user/login" class="btn">Log in</a></li>
        <li><a href="/user/register" >Sign up</a></li>
    </ul>
    </nav>
    <div class="container">
        
        <h4 class="alert">{{msg}}</h4>
        <form method="POST">
            <a href="./login.hbs" >
                <i class="fa-solid fa-arrow-left "></i> <br><br>
            </a>
            <h3 class="bold">Forget Password</h3>
        {{#if user}}
            <h5>No problem! Just enter the email address that you signed up with to reset it.</h5> 
        {{else}}
            <h5>Enter the OTP sent to {{this.email}} </h5>
        {{/if}}
            <input type="text" name="email">
            <input type="submit" class="submit"> <br>

        {{!-- <h4>Dont have an account ? Register here </h4>
         <a href="/user/register">Register</a> --}}
        </form> 
    </div>
     
</body>
</html>