<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Lists</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/X-icon">
    <script src="https://kit.fontawesome.com/9297f08a76.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
</head>
<body>
    <div class="menu">
            <nav>
                <ul>
                    <li class="navItem">Home</li>
                    <li class="navItem">My Projects</li>
                    <li class="navItem">Starred Project</li>
                    <li class="navItem">Dashboard</li>
                    <li class="navItem">Services</li>
                </ul>
            </nav>
    </div>
    <div class="header">
        <div class="projectName">
            <h1 style="margin-bottom: 30px;size: 30px;"><b>Alzheimer's Disease Detection Using 2D Convolution</b></h1>
            <p>Alzheimer’s disease (AD) is a non-treatable and non-reversible disease that affects about 6% of people who are 65 and older. Brain magnetic resonance imaging (MRI) is a pseudo-3D imaging modality that is widely used for AD diagnosis. Convolutional neural networks with 3D kernels (3D CNNs) are often the default choice for deep learning based MRI analysis.</p>
            <div class="emptywalabox">
                <p>end</p>
            </div>
            <div>

            </div>
        </div>
        <div class="lotty">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_X3Ql0CN6aq.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
        </div>
        <div class="container">
            <div class="img-container">
                    <img class="image" src="images/image1.jpg"/>
                    <img class="image" src="images/image2.jpg"/>
                    <img class="image" src="images/image3.jpg"/>
                    <img class="image" src="images/image4.jpg"/>    
            </div>
        </div>
    </div>
    <div class="content-container">
        <h2 class="headlines" style="margin-bottom: 30px;margin-top: 25px;">In Nutshell</h2>
        <div class="nutshell">
            There are many kinds of brain abnormalities that cause changes in different parts of the brain. Alzheimer’s disease is a chronic condition that degenerates the cells of the brain leading to memory asthenia. Cognitive mental troubles such as forgetfulness and confusion are one of the most important features of Alzheimer’s patients. In the literature, several image processing techniques, as well as machine learning strategies, were introduced for the diagnosis of the disease. This study is aimed at recognizing the presence of Alzheimer’s disease based on the magnetic resonance imaging of the brain. We adopted a deep learning methodology for the discrimination between Alzheimer’s patients and healthy patients from 2D anatomical slices collected using magnetic resonance imaging. Most of the previous researches were based on the implementation of a 3D convolutional neural network, whereas we incorporated the usage of 2D slices as input to the convolutional neural network. The data set of this research was obtained from the OASIS website. We trained the convolutional neural network structure using the 2D slices to exhibit the deep network weightings that we named as the Alzheimer Network (AlzNet). The accuracy of our enhanced network was 99.30%. This work investigated the effects of many parameters on AlzNet, such as the number of layers, number of filters, and dropout rate. The results were interesting after using many performance metrics for evaluating the proposed AlzNet.
        </div>
        <h2 style="margin-bottom: 30px;margin-top: 25px;" class="headlines">Github Link (click on the following Image)</h2>
        <div class="github"><a href="https://www.google.com" target="_blank"><script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_S6vWEd.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player></a></div>
        <h2  class="headlines" style="margin-bottom: 30px;margin-top: 25px;">Technology Stack Used</h2>
        <div class="technologyUsed">
            <div class="wrapper">
                <div class="icon react">
                    <div class="tooltip">React</div>
                    <span><i class="fa-brands fa-react"></i></span>
                </div>
            </div>
            <div class="wrapper">
                <div class="icon angular">
                    <div class="tooltip">Angular</div>
                    <span><i class="fa-brands fa-angular"></i></span>
                </div>
            </div>
            <div class="wrapper">
                <div class="icon python">
                    <div class="tooltip">Python</div>
                    <span><i class="fa-brands fa-python"></i></span>
                </div>
            </div>
            <div class="wrapper">
                <div class="icon Javascript">
                    <div class="tooltip">Javascript</div>
                    <span><i class="fa-brands fa-js"></i></span>
                </div>
            </div>
            <div class="wrapper">
                <div class="icon wordpress">
                    <div class="tooltip">Wordpress</div>
                    <span><i class="fa-brands fa-wordpress"></i></span>
                </div>
            </div>
        </div>
        {{!-- <h2 class="headlines" style="margin-top: 25px">Resources Used</h2> --}}
        {{!-- <div class="resources">
            <iframe src="https://www.youtube.com/embed/QEz4bG9P3Qs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
            <iframe src="https://www.youtube.com/embed/yUATC9tt7OM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/AOfzlVi-NJs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> --}}
    <h2 class="headlines">Contributors</h2>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
    
                            <div class="card-image">
                                <img src="images/Ambani.jpg" alt=""  class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Mukesh Ambani</h2>
                            <h3 class="technology">Node JS</h3>
                            <p class="description">Mukesh Dhirubhai Ambani (born 19 April 1957) is an 
                                Indian billionaire businessman. He is the chairman and managing director
                                 of Reliance Industries Ltd. (RIL), a Fortune Global 500 company and India's
                                  most valuable company by market value.</p>
                           
                            <div class="Social-icons">
                                <a href="https://google.com" target="_blank">
                                <i style="font-size: 45px; margin-right: 15px;" class="fa-brands fa-linkedin"></i></a>
                                <a href="https://google.com" target="_blank">
                                <i style="font-size: 45px; margin-right: 15px; margin-top: 20px ;" class="fa-brands fa-github"></i></a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
    
                            <div class="card-image">
                                <img src="images/Elon.jpg" alt=""  class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Elon Musk</h2>
                            <h3 class="technology">Node JS</h3>
                            <p class="description">Mukesh Dhirubhai Ambani (born 19 April 1957) is an 
                                Indian billionaire businessman. He is the chairman and managing director
                                 of Reliance Industries Ltd. (RIL), a Fortune Global 500 company and India's
                                  most valuable company by market value.</p>
                            
                            <div class="Social-icons">
                                <a href="https://google.com" target="_blank">
                                <i style="font-size: 45px; margin-right: 15px;" class="fa-brands fa-linkedin"></i></a>
                                <a href="https://google.com" target="_blank">
                                <i style="font-size: 45px; margin-right: 15px; margin-top: 20px ;" class="fa-brands fa-github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
    
                            <div class="card-image">
                                <img src="images/Gautam-Adani.jpg" alt=""  class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Gautam Adani</h2>
                            <h3 class="technology">Node JS</h3>
                            <p class="description">Mukesh Dhirubhai Ambani (born 19 April 1957) is an 
                                Indian billionaire businessman. He is the chairman and managing director
                                 of Reliance Industries Ltd. (RIL), a Fortune Global 500 company and India's
                                  most valuable company by market value.</p>
                        
                            <div class="Social-icons">
                                <a href="https://google.com" target="_blank">
                                <i style="font-size: 45px; margin-right: 15px;" class="fa-brands fa-linkedin"></i></a>
                                <a href="https://google.com" target="_blank">
                                <i style="font-size: 45px; margin-right: 15px; margin-top: 20px ;" class="fa-brands fa-github"></i>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="swiper-botton-next"></div>
            <div class="swiper-botton-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
        
    </div>
    
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Project Guide</a></li>
                    <li><a href="#">Topic Suggestions</a></li>
                    <li><a href="#">Current Trending techs</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Tech Stack</h4>
                <ul>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">React</a></li>
                    <li><a href="#">Node</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>