<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="public/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miniproject</title>
</head>
<body>
    <div class="project-info">
        <h1> Project info will be displayed here !!!</h1>
    </div>
    
</body>
</html>